/*End Screen 1920*/
/*End Screen 1366*/
@media (min-width: 767px) {
  .smart-search-form {
      top: 75px;
  }

  .permissions_select_role {
    bottom: 10px;
    position: relative;
  }
  .permissions_select_role select {
    font-weight: 500;
    background: #8c6916;
    color: white;
    width: 130px;
    float: left;
    margin-right: 5px;
    padding: 2px 10px;
  }
  .permissions_select_role button {
    float:right;
  }
}

/*End Screen 1920*/
/*End Screen 1366*/
@media (max-width: 1280px) {
  .category-slider {
    margin-top: 0;
  }
  .wrap-language-search {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding-left: 10px;
  }
  .wrap-language-search .top-currency-language {
    float: right;
  }
}
/*End Screen 1280*/
@media (max-width: 1024px) {
  .item-product.item-product-list .product-info {
    padding-bottom: 20px;
  }
  .gallery-control .carousel ul li a {
    width: 70px;
  }
  .list-inline-block.qty-cart li {
    margin-bottom: 10px;
  }
  .detail-with-sidebar .detail-gallery {
    margin-right: 0;
  }
  .footer-tags label {
    display: block;
    width: 110px;
    margin-bottom: 10px;
  }
  .footer-tags {
    margin-bottom: 10px;
  }
  .special-box {
    padding: 20px;
  }
  .social-network > a {
    width: 36px;
  }
  .header2 {
    position: static;
    background: rgba(0, 0, 0, 0.5);
  }
  .currency-language2 {
    margin-left: -30px;
    float: right;
  }
  .banner-info2 {
    padding-left: 50px;
  }
  .comming-event .shop-button {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }
  .about-team-member .item-about-member {
    margin-bottom: 30px;
  }
}
/*End Screen 1024*/
@media (max-width: 990px) {
  .detail-with-sidebar .detail-info {
    margin-top: 30px;
  }
  .detail-info {
    margin-left: 0;
  }
  .top-adv8 {
    margin-bottom: 30px;
  }
  .item-about-service.text-center {
    padding: 0;
  }
  .logo-footer3 {
    margin-bottom: 30px;
  }
  .list-adv3 .banner-adv {
    margin-bottom: 30px;
  }
  .main-footer {
    margin-bottom: 0;
  }
  .testimo-item {
    padding-left: 0;
  }
  .testimo-item .tes-thumb {
    position: relative;
    margin-bottom: 20px;
  }
  .search-label {
    display: none;
  }
  .select-search-category {
    display: none;
  }
  .smart-search {
    max-width: 230px;
  }
  .smart-search-form {
    width: 100%;
  }
  .main-nav > ul > li > a {
    padding: 0 15px;
  }
  .top-menu > li {
    margin: 0 5px;
  }
  .top-menu {
    margin: 0 -5px;
  }
  .footer-box {
    margin-bottom: 30px;
  }
  .social-network > a {
    margin-bottom: 10px;
  }
  .look-info {
    padding: 30px;
  }
  .look-info .list-inline-block li:last-child {
    display: none;
  }
  .look-info .btn-arrow {
    margin-top: 10px;
  }
  .cart-account li:nth-child(2) {
    display: none;
  }
  .banner-info2 .title60 {
    font-size: 30px;
    margin: 25px 0;
  }
  .banner-info3 .title48 {
    font-size: 30px;
  }
  .banner-info3 .title18 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .banner-info3 {
    padding: 0 40px;
  }
  .testimo-box7 {
    margin-top: 30px;
  }
}
/*End Screen 990*/
@media (max-width: 860px) {
  .more-video-thumb,
  .more-video-thumb .post-thumb-link {
    width: 80px;
  }
  .banner-slider3 .slick-slider .slick-dots {
    display: none!important;
  }
  .shop-thelook {
    padding-right: 250px;
  }
  .look-info {
    width: 250px;
    padding: 20px;
  }
  .item-service li {
    display: block;
    text-align: center;
  }
  .item-service .service-icon {
    margin-bottom: 20px;
  }
  .item-service {
    padding: 30px 15px;
  }
  .item-adv4 .banner-info .title60 {
    font-size: 30px;
  }
  .item-adv4 .banner-info h3.title14 {
    font-size: 12px;
    line-height: 18px;
    padding: 0 30px;
  }
  .item-adv4 .banner-info {
    height: 110px;
  }
  .banner-info5 h3.title60 {
    font-size: 30px;
  }
  .banner-info5 h2 {
    font-size: 60px;
  }
  .banner-info5 h2 span {
    height: 60px;
    line-height: 60px;
  }
  .banner-slider.bg-slider .item-slider {
    height: 500px;
  }
  .banner-slider5 .owl-controls .owl-pagination {
    text-align: center;
  }
  .banner-slider5 .owl-controls {
    bottom: 30px;
  }
  .banner-slider .banner-info5 {
    padding-left: 30px;
  }
  .item-product.table.border .product-info {
    padding-left: 10px;
  }
  .item-product.table.border .product-thumb {
    width: 90px;
  }
  .item-banner-sale .btn-arrow {
    position: relative;
    right: 0px;
    top: 0px;
    margin-top: 10px;
  }
  .sort-paginav > div {
    margin-left: 0px;
  }
}
/*End Screen 860*/
@media (max-width: 767px) {
  .btn-toggle-mobile-menu {
    cursor: pointer;
  }
  .btn-toggle-mobile-menu::after {
    position: absolute;
    top: 14px;
    right: 0px;
    font-family: fontAwesome;
    content: "\f107";
  }
  .btn-toggle-mobile-menu.active::after {
    content: "\f106";
  }
  .main-nav > ul > li.menu-item-has-children > a::after {
    display: none;
  }
  .mega-menu {
    position: static;
    margin: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    padding: 15px;
  }
  .mega-product {
    margin-bottom: 30px;
  }
  .detail-info {
    margin-top: 30px;
  }
  .item-blog-post .post-thumb {
    margin-bottom: 20px;
  }
  .title-tab8 {
    display: block;
  }
  .product-box8 .title-box8 .title18 {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  .video-highlight {
    margin-right: 0px;
  }
  .more-video-thumb,
  .more-video-thumb .post-thumb-link {
    width: 120px;
  }
  .comming-event.border {
    margin-bottom: 30px;
    padding: 20px;
  }
  .more-video {
    margin-top: 30px;
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  .main-nav.main-nav7 {
    padding-left: 0;
  }
  .top-link7.list-inline-block {
    float: none!important;
    text-align: center;
    margin-top: 5px;
  }
  .top-calendar {
    text-align: center;
  }
  .top-header7 {
    padding: 15px 0;
  }
  .banner-slider3 .banner-info3 {
    display: none;
  }
  .blog-slider3 {
    margin-bottom: 30px;
  }
  .email-signup.right-icon {
    float: none;
    margin-top: 50px;
  }
  .signup-box::after {
    display: none;
  }
  .product-box3 .title-box3 {
    margin-top: 20px;
  }
  .product-box3 .title-box3 > ul {
    text-align: left;
  }
  .account-cart3 .top-menu {
    display: none;
  }
  .shop-thelook {
    padding: 0;
  }
  .look-info {
    position: static;
    width: 100%;
    text-align: center;
    border: none;
    padding: 30px 20px;
  }
  .payment-method {
    text-align: left;
  }
  .main-nav {
    padding: 0 15px;
  }
  .nav-search5 .main-nav {
    padding-left: 0;
  }
  .wrap-account5 {
    display: none;
  }
  .nav-search5 {
    border: none;
  }
  .list-adv5 .banner-adv {
    margin-bottom: 30px;
  }
  .list-adv5 {
    margin-bottom: 20px;
  }
  .main-nav .toggle-mobile-menu {
    margin: 15px 0;
  }
  .main-nav > ul > li {
    border: none;
  }
  .main-nav > ul > li.menu-item-has-children > a::after {
    top: 0px;
  }
  .top-menu {
    text-align: center;
  }
  .top-currency-language {
    text-align: center;
    margin-bottom: 10px;
  }
  .top-currency-language > li {
    text-align: left;
  }
  .logo.logo1 {
    text-align: left;
  }
  .special-box {
    margin-bottom: 30px;
  }
  .list-special-box {
    margin-bottom: 15px;
  }
  .cart-account {
    margin-top: 15px;
  }
  .slick-slider .slick-next .slick-caption {
    display: none;
  }
  .title-brand > ul > li {
    margin: 0 20px;
  }
  .wrap-language-search {
    width: auto;
    border: none;
  }
  .about-thumb.pull-right {
    float: none!important;
    margin-top: 30px;
    text-align: center;
  }
  .contact-faq {
    margin-top: 30px;
  }
}
/*End Screen 767*/
@media (max-width: 640px) {
  .wrap-language-search .top-currency-language {
    display: none;
  }
  .list-banner-adv4 .item-adv4 {
    width: 100%;
  }
  .wrap-language-search {
    margin-right: 15px;
  }
  .banner-slider.bg-slider .item-slider {
    height: 400px;
  }
  .our-club .col-xs-6 {
    width: 100%;
  }
  .thumb-club {
    margin-top: 30px;
  }
}
/*End Screen 640*/
@media (max-width: 560px) {
  .item-product.table.border .product-info {
    padding-left: 20px;
  }
  .item-product.table.border .product-thumb {
    width: 130px;
  }
  .top-info6 li {
    margin: 0 20px;
  }
  .top-info6 {
    margin: 0 -20px;
  }
  .item-testimo7 .testimo-info {
    display: block;
    padding-left: 0;
  }
  .item-testimo7 .testimo-thumb {
    display: block;
  }
  .review-info .product-rate {
    position: static;
    margin-bottom: 10px;
  }
}
/*End Screen 560*/
@media (max-width: 480px) {
  .item-product-list .col-xs-5,
  .item-product-list .col-xs-7 {
    width: 100%;
  }
  .item-comment .post-date-comment {
    position: static;
    margin-bottom: 10px;
  }
  .item-comment .author-avatar {
    display: block;
    margin-bottom: 20px;
  }
  .item-comment .comment-info {
    display: block;
    padding-left: 0;
  }
  .item-product.item-product-list .product-info {
    padding: 20px;
    border-top: 1px solid #e5e5e5;
  }
  .grid-shop-product .col-xs-6 {
    width: 100%;
  }
  .review-form > div > label {
    position: static;
  }
  .review-form > div {
    padding-left: 0;
  }
  .review-form > div > .product-rate {
    transform: none;
  }
  .list-none.list-tags-review li > div {
    display: block;
    margin-bottom: 20px;
  }
  .detail-tabs .tab-content {
    padding: 20px;
  }
  .sort-paginav > div.pagi-bar {
    display: block;
    margin-top: 5px;
  }
  .about-team-member .col-xs-6 {
    width: 100%;
  }
  .title-tab8 > ul > li {
    background: linear-gradient(#464646, #ababab);
    background: -webkit-linear-gradient(#464646, #ababab);
    background: -moz-linear-gradient(#464646, #ababab);
    display: block;
  }
  .product-box8 .title-box8 {
    padding: 15px 20px 50px;
  }
  .product-box8 .group-navi.style2 .owl-buttons {
    right: 50%;
    margin-right: -30px;
  }
  .banner-slider.bg-slider .item-slider {
    height: 300px;
  }
  .banner-slider3 .slick-slider .slick-dots {
    display: none!important;
  }
  .title-tab2 > ul > li {
    display: block;
    margin: 0 0 1px;
  }
  .title-tab2 > ul > li > a {
    display: block;
    border: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
  }
  .title-tab2 > ul > li > a::after {
    display: none;
  }
  .title-brand > ul > li > a::before {
    display: none;
  }
  .title-brand > ul > li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .title-brand > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
  }
  .title-brand {
    padding-top: 0;
  }
  .banner-slider .banner-info {
    display: none;
  }
  .banner-slider.banner-slick {
    padding-bottom: 0;
  }
  .banner-slider1 .slick-slider .slick-dots {
    display: none!important;
  }
  .banner-slider1 .banner-info1 {
    display: none;
  }
  .banner-slider1 {
    margin-bottom: 30px;
  }
  .title-tab1 ul li {
    display: block;
    margin-bottom: 1px;
  }
  .title-tab1 ul li a {
    display: block;
  }
  .email-signup.right-icon .mail-icon {
    top: 0;
    width: 70px;
  }
  .email-signup.right-icon {
    padding-right: 90px;
  }
  .email-signup.left-icon .mail-icon {
    width: 70px;
    top: 0;
  }
  .email-signup.left-icon {
    padding-left: 90px;
  }
  .title-tab-detail ul li {
    display: block;
    border-bottom: 1px solid #fff;
  }
  .upsell-product > .title30 {
    font-size: 18px;
  }
}
/*End Screen 480*/
@media (max-width: 375px) {
  .gallery-control .carousel ul li a {
    width: 60px;
  }
  .top-info6 li {
    display: block;
  }
  .banner-slider.bg-slider .item-slider {
    height: 200px;
  }
  .item-adv4 .banner-info .title60 span {
    padding-bottom: 10px;
  }
  .item-adv4 .banner-info .title60 {
    margin-bottom: 10px;
  }
  .smart-search {
    max-width: 210px;
  }
  .account-cart3 .mini-cart-box {
    margin-top: 5px;
  }
  .item-adv-intro .banner-info {
    display: none;
  }
  .smart-search-form input[type="text"] {
    padding: 0 13px;
  }
  .mini-cart-number {
    display: none;
  }
  .mini-cart-box {
    margin-top: 15px;
  }
  .cart-account .mini-cart-box {
    margin-top: 0px;
  }
  .logo.logo2 {
    margin-top: 5px;
  }
  .post-item2 .post-info h3.title14 {
    margin: 18px 0 28px;
  }
}
/*End Screen 375*/
@media (max-width: 320px) {
  .social-network > a {
    width: 32px;
  }
}
